body {
    overflow-x: hidden;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 10ms;
}

.notice-box {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background: #f1efeb;
    z-index: 102;
}

.notice-box.on {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.notice-box .slick-arrow {
    font-size: 0;
    background: inherit;
    border: 0;
}

.notice-box .notice_slick {
    text-align: center;
    max-width: 62.5vw;
    width: 100%;
    padding: 40px 0;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    font-size: 18px;
    font-weight: 400;
}

.notice-box .slick-dots {
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    z-index: 102;

    padding: 20px 30px 15px 30px;
    border-radius: 20px;
}

.notice-box .slick-dots>li {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #2e2e2e;
    margin: 0 8px;
    border-radius: 50%;

}

.notice-box .slick-dots>li.slick-active {
    background: #fff;
}

.notice-box .slick-dots>li button {
    display: none;
}

.notice-box .today-box {
    position: absolute;
    bottom: 10px;
    right: 80px;
}

.notice-box .today-box .chk-box input {
    width: 16px;
    height: 16px;
    /* border: 2px solid #202020;
    border-radius: 0;

    background-color: #fff; */
}

.notice-box .today-box .chk-box label {
    font-size: 14px;
    font-weight: 400;
}

.notice-box .today-box .close {
    position: absolute;
    top: -4px;
    right: -30px;

    background: inherit;
    border: 0;
}

.notice-box .today-box .close i {
    font-size: 28px;
}

/* notice-box */

#header {
    position: sticky;
    top: 0;
    z-index: 999;

    width: 100%;
}

#header .bt {
    height: 90px;
    background: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: auto;
    left: 0;
    right: 0;
}

#header h1 {
    position: relative;
    margin: 27px 0 0 60px;
}

#header h1 a {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    width: 260px;
}

#header h1 a>img {
    width: 37px;
    height: 35px;
    background-image: 100%;

}

#header h1 a span {
    display: block;
    width: 200px;
    height: 20px;
    background-size: 100%;
    background: url(../img/logo.png) no-repeat center center/cover;
}

#header .menu-open {
    position: absolute;
    top: 24px;
    right: 60px;

    width: 32px;
    height: 32px;

    background: none;
    border: 0;
    font-size: 0;
}

#header .menu-open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;
    background: url(../img/ic-menu.png) no-repeat center center/cover;
}

#header .language {
    position: absolute;
    top: 27px;
    right: 120px;

    font-size: 20px;
    color: #fff;
    line-height: 27px;
    letter-spacing: -1px;
}

/* header */

.mainBg {
    height: calc(100vh - 134px);
    position: relative;
}

.mainBg::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: calc(50% - 31px);

    width: 48px;
    height: 48px;
    background: url(../img/ic-down-arrow.png) no-repeat center center/cover;

    z-index: 999;
}

.mainBg figure {
    position: relative;
    height: calc(100vh - 134px);
}

.mainBg .bg_01 {
    position: relative;
    background: url(../img/20230206-305_visual_main3.png) no-repeat center center/cover;
}

.mainBg .bg_01 p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;

    font-size: 130px;
    line-height: 150px;
    color: #fff;
    font-weight: 500;
}

.mainBg .bg_01 span {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    font-size: 20px;
    line-height: 30px;
    color: #e3e3e3;
    font-weight: 500;
}

.mainBg .bg_02 {
    position: relative;
    background: url(../img/20230206-306_visual_main2.png) no-repeat center center/cover;
}

.mainBg .bg_02 p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;

    font-size: 130px;
    line-height: 150px;
    color: #fff;
    font-weight: 500;
}

.mainBg .bg_02 span {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    font-size: 20px;
    line-height: 30px;
    color: #e3e3e3;
    font-weight: 500;
}

.mainBg .bg_03 {
    position: relative;
    background: url(../img/20230206-307_visual_main1.png) no-repeat center center/cover;
}

.mainBg .bg_03 p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;

    font-size: 130px;
    line-height: 150px;
    color: #fff;
    font-weight: 500;
}

.mainBg .bg_03 span {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    font-size: 20px;
    line-height: 30px;
    color: #e3e3e3;
    font-weight: 500;
}

.main_slide .slick-arrow {
    font-size: 0;
    background: inherit;
    border: 0;
    display: none;
}

.main_slide .slick-dots {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 8px);
    transform: translate(-50%, 0);
}

.main_slide .slick-dots>li {
    display: inline-block;
    margin: 0 8px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.main_slide .slick-dots>li.slick-active {
    background: #fff;
}

.main_slide .slick-dots>li button {
    display: none;
}

.sub_main {
    padding: 4.875vw 0 5vw 18.75vw;
}

.sub_main h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    color: #202020;
    letter-spacing: -0.145833vw;
}

.sub_main .sub_slide {
    padding-top: 40px;
}

.sub_main .sub_slide figure {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    width: 418px;
    height: 710px;
    margin-right: 30px;

    display: flex;
    flex-direction: column-reverse;
}

.sub_main .sub_slide .title {}

.sub_main .sub_slide .title h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sub_main .sub_slide .title p {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e6e;
}

.sub_main .sub_slide .sub_bg_01 {
    position: relative;
    background-image: url(../img/20230206-7_img-cr3-list01.png);
}

.sub_main .sub_slide .sub_bg_02 {
    position: relative;
    background-image: url(../img/20230206-8_img-cr3-list02.png);
}

.sub_main .sub_slide .sub_bg_03 {
    position: relative;
    background-image: url(../img/20230206-9_img-cr3-list03.png);
}

.sub_main .sub_slide .sub_bg_04 {
    position: relative;
    background-image: url(../img/20230206-9_img-cr3-list04.png);
}

.sub_main .sub_slide .sub_bg_05 {
    position: relative;
    background-image: url(../img/20230206-11_img-cr3-list05.png);
}

.sub_main .sub_slide .sub_bg_06 {
    position: relative;
    background-image: url(../img/20230206-57_img-cr3-list06.png);
}

.sub_main .sub_slide .sub_bg_07 {
    position: relative;
    background-image: url(../img/20230206-58_img-cr3-list07.png);
}

.tab-project {
    padding-top: 100px;

    width: 1200px;
    margin: 0 auto;

    position: relative;
}

.tab-project .img_slide img {
    max-width: 1900px;
}

.tab-project .img_slide .tit_box {
    max-width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
}

.tab-project .img_slide .tit_box h3 {
    font-size: 40px;
    font-weight: 500;
}

.tab-project .img_slide .tit_box p {
    font-size: 20px;
    font-weight: 400;
}

.tab-project .tab-list {
    position: absolute;
    top: 0;
    right: -260px;
}

.tab-project .tab-list span {
    display: block;
    text-align: right;

    font-size: 7vw;
    color: #c4c4c4;
    letter-spacing: -0.333333vw;
}

.tab-project .tab-list span.on {
    color: #202;
}



.tab-project .project-result {
    padding: 100px 0 100px 0;

    position: relative;
    width: 100%;
}

.tab-project .project-result::before {
    position: absolute;
    top: 170px;
    left: -50%;
    width: 2500px;
    height: auto;
    content: '';
    border: 1px dashed #dddddd;
}

.tab-project .project-result ul {
    display: flex;
    text-align: center;
}

.tab-project .project-result ul li {
    width: 25%;
    position: relative;
    padding-top: 8.59375vw;
}

.tab-project .project-result ul .icon_01::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 5.447917vw;
    height: 5.447917vw;
    background: url(../img/ic-project01.svg) no-repeat center center/cover;


}

.tab-project .project-result ul .icon_01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border: 4px solid #eee;
    background: #fff;
    border-radius: 50%;

    width: 7.447917vw;
    height: 7.447917vw;
}

.tab-project .project-result ul .icon_02::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 5.447917vw;
    height: 5.447917vw;
    background: url(../img/ic-project02.svg) no-repeat center center/cover;


}

.tab-project .project-result ul .icon_02::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border: 4px solid #eee;
    background: #fff;
    border-radius: 50%;

    width: 7.447917vw;
    height: 7.447917vw;
}

.tab-project .project-result ul .icon_03::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 5.447917vw;
    height: 5.447917vw;
    background: url(../img/ic-project03.svg) no-repeat center center/cover;


}

.tab-project .project-result ul .icon_03::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border: 4px solid #eee;
    background: #fff;
    border-radius: 50%;

    width: 7.447917vw;
    height: 7.447917vw;
}

.tab-project .project-result ul .icon_04::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 5.447917vw;
    height: 5.447917vw;
    background: url(../img/ic-project04.svg) no-repeat center center/cover;


}

.tab-project .project-result ul .icon_04::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border: 4px solid #eee;
    background: #fff;
    border-radius: 50%;

    width: 7.447917vw;
    height: 7.447917vw;
}

.tab-project .project-result ul li p {
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.5625vw;
    letter-spacing: -0.0625vw;
    margin-bottom: 10px;
}

.tab-project .project-result ul li span {
    margin-top: 0.104167vw;
    font-size: 2.916667vw;
    font-weight: 700;
    letter-spacing: -0.058333vw;
}

.lifestyle {
    position: relative;
    width: 100%;
}

.lifestyle .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lifestyle .inner h2 {
    font-size: 3.75vw;
    font-weight: 500;
    color: #fff;
    line-height: 5vw;
    letter-spacing: -0.208333vw;
    position: relative;

    padding-bottom: 6.40625vw;

}

.lifestyle .inner h2::before {
    content: '“';
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 3.75vw;
    font-weight: 500;
    color: #fff;
    line-height: 5.104167vw;
}

.lifestyle .inner h2::after {
    content: '“';
    position: absolute;
    bottom: 47px;
    right: 0;
    transform: rotate(180deg);

    font-size: 3.75vw;
    font-weight: 500;
    color: #fff;
    line-height: 5.104167vw;
}

.lifestyle .inner h2 span {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 0.833333vw;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}

.lifestyle .inner p {
    position: relative;
    padding-top: 1.666667vw;
    border-top: 2px solid #fff;
    font-size: 0.9375vw;
    color: #fff;
    line-height: 1.354167vw;
    letter-spacing: -0.01875vw;
    opacity: .8;
}

/* main */

#footer {
    position: relative;
    padding: 72px 0 60px;
    background: #202020;
}

#footer .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#footer .inner .left_box {
    position: absolute;
    top: 4px;
    left: 0;
}

#footer .inner .left_box .logo img {
    width: 172px;
    height: 17px;
}

#footer .inner .left_box>p {
    margin-top: 16px;
    font-size: 14px;
    color: #787878;
    line-height: 20px;
}

#footer .inner .left_box>ul {
    display: flex;
    gap: 25px;
    margin-top: 8px;
}

#footer .inner .list-sitemap {
    margin-left: 414px;
    display: flex;
    justify-content: space-between;
}

#footer .inner .list-sitemap>li>span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
}

#footer .inner .list-sitemap>li .footer_sub_menu {
    margin-top: 7px;
}

#footer .inner .list-sitemap>li .footer_sub_menu li {
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    letter-spacing: -1px;
    opacity: .5;
}

#footer .inner .footer_group {
    position: relative;
    margin-top: 60px;
    padding-top: 24px;
}

#footer .inner .footer_group::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: .3;
    content: '';
}

#footer .inner .footer_group ul {
    display: flex;
    gap: 30px;
}

#footer .inner .footer_group ul li {
    position: relative;
}

#footer .inner .top_list ul li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    display: block;
    width: 1px;
    height: 14px;
    background: #444;
    transform: translate(0, -50%);
}

#footer .inner .md_list ul li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    display: block;
    width: 1px;
    height: 14px;
    background: #444;
    transform: translate(0, -50%);
}

#footer .inner .md_list ul .underline {
    text-decoration-line: underline;
    font-weight: 700;
}

#footer .inner .footer_group ul li a {
    display: block;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}

#footer .inner .footer_group>p {
    margin-top: 24px;
    font-size: 14px;
    color: #fff;
    opacity: .5;
}

#footer .inner .footer_group>p span {
    margin: 0 8px;
    position: relative;
}

#footer .inner .footer_group>p span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -3px;
    display: block;
    width: 1px;
    height: 14px;
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.5);
}

#footer .inner .family-site {
    position: absolute;
    top: 20px;
    right: 0;

    width: 180px;
    height: 80px;
}

#footer .inner .family-site button {
    position: relative;
    width: 180px;
    padding-bottom: 2px;
    border-bottom: 1px solid #787878;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 32px;
    text-align: left;
}

#footer .inner .family-site button::before {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/ic-arrow.png) no-repeat left top;
    transform: rotate(0);
    background-size: 100%;
    content: '';
}

#footer .inner .family-site button.on::before {
    transform: rotate(180deg);
}

#footer .inner .family-site .partner {
    margin-top: 20px;
}

#footer .inner .family-site .partner a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: -1px;
    text-decoration: underline;
}

#footer .inner .family-site>ul {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    background: #787878;
    display: flex;
    flex-wrap: wrap;
    gap: 0;

    display: none;
}

#footer .inner .family-site>ul.on {
    display: block;
}

#footer .inner .family-site ul li {}

#footer .inner .family-site ul li a {
    display: block;
    padding: 8px 0;
    font-size: 11px;
    color: #fff;
    text-align: center;

    width: 180px;
}

/* footer */